[Desktop Entry]
Name=flameshot
Icon=/usr/share/icons/flameshot.png
IconA=flameshot
Exec=flameshot
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
